body {
	font-family: 'BenchNine', sans-serif;
	font-size: 30px;
	background-color: #FFF59E;
}

h2 {
	color: #FF7B0D;	
	font-size: 1.5em;
	text-align: center;
}

nav {
	margin: 2em .5em 3em .75em;
}

li {
	padding: .4em .4em .4em .4em;
	margin: .4em .4em .4em .4em;
	background: #E88F0C;
	border-style: solid;
	border-width: 0.15em;
	border-color: #FFB100;
	width: 12em;
	list-style: none;
	display: inline-block;
}

li a {
	text-decoration: none;
	font-family: 'BenchNine', sans-serif;
	font-size: .75em;
	text-align: center;
	color: #FFF59E;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
}

li a:link {
	color: #FFF59E;
}

li a:visited {
	color: #FFF59E;
}

li a:hover {
	color: #FFF59E;
	text-decoration: underline;
}

li a:active {
	color: #FFF59E;
	text-decoration: underline;
}

form {
	font-size: 0.5em;
	font-family: #FFB100;
}

img {
	width: 6.75em;
	opacity: 0.50;
	float: center;
}

button {
	width: 11em;
	padding: 1em;
	margin-top: 1em;
}

.column {
	float: left;
	border-style: solid;
	border-width: 0.15em;
	border-color: #E88F0C;
	padding: .4em .4em .4em .4em;
	margin: .4em .4em .4em .4em;
	width: 12em;
}

#login {
	padding: .8em 2 .8em 2;
}

#art {
	line-height: .75em;
}

#photo {
	line-height: .75em;
}

#main {
	margin: 2em .5em 3em .75em;
}



